<header></header>


<div id="wishmakerDiv">
    <p>Fødselar navn</p>
    <ul *ngFor="let maker of wishmakers">
        <li>{{maker.Name}}</li>
       <div>
        <form #form (ngSubmit)="submit(maker.Name, password.value)">
            <input autocomplete="off" name="password" #password placeHolder="Kodeord">
            <button>Gå til ønskelisten</button>
            <button *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()" (click)="deleteUser(maker)">Slet fødselar</button>
            <div *ngIf="this.Password != this.PassVal && this.Name == maker.Name">Forkert password</div>
        </form>
       </div>
    </ul>
</div>
