<head>
   <script src="https://smtpjs.com/v3/smtp.js"></script>  
   <script src="home.component.ts"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<header></header>

<h1>Velkommen til {{wishmaker}}'s ønskeliste</h1>

<div id="bodyDiv">
   
   <div id="wishes">
      <h2>{{wishmaker}}s ønsker</h2>
      <div id="wishlist">
         <div *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()">
            <form #form id="inputForm" (ngSubmit)="addWish(wishes.value, linkies.value)">
                  
                  <input autocomplete="off" name="wish" [value]="wish" #wishes placeholder="Hvilket ønske skal tilføjes?">
                  <input autocomplete="off" name="link" [value]="link" #linkies placeholder="Har ønsket et link?"> 
                  <input type="file" (change)="showPreview($event)" accept=".png, .jpg, .jpeg, .pdf" />
                 
                  <button>Tilføj ønske</button>         
            </form>
         </div>
         <div id="headers">
            <div><b>Ønske</b></div>
            <div><b>Link</b></div>
            <div><b>Billeder</b></div>
            <div><b>Reservation</b></div>
         </div>
         <div>
            <ul *ngFor="let wish of wishList">
               <form class="wishForm">
               <div id="nameNplus">
                  <div *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()" id="wishName" (click)="editText('', wish)">
                     <div *ngIf="this.viewMode == false || this.currentWish != '' && this.currentWish != wish[5]">
                        <li id="wish" [ngClass]="(!this.auth.isLoggedIn() && wish[3]) ? 'Reserved': 'Unreserved'" >
                           {{wish[5]}} 
                        </li>
                     </div>
                     <div *ngIf="this.viewMode == true && this.currentWish == wish[5]" (keyup.enter)="editText(editField.value, wish)">
                        <input autocomplete="off" name="editField" value="{{wish[5]}}" #editField>
                     </div>
                  </div>

                  <div id="desSelector" *ngIf="!this.auth.adminLoggedIn() && !this.auth.isLoggedIn() ">
                     <li id="wish" [ngClass]="(!this.auth.isLoggedIn() && wish[3]) ? 'Reserved': 'Unreserved'" >
                        {{wish[5]}}
                     </li>
                  </div>

                  <div [hidden]="!this.auth.adminLoggedIn() && !this.auth.isLoggedIn() && wish[0] == 'Beskrivelse'" id="descriptionButton"><span 
                     class="glyphicon"
                     [class.glyphicon-plus]="!this.descriptionViewMode || this.currentDescription != '' && this.currentDescription != wish[5]"
                     [class.glyphicon-minus]="this.descriptionViewMode && this.currentDescription == wish[5]"
                     (click)="showDescription(wish)"></span>
                  </div>
                  
               </div>

                  <div *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()">
                     <div (click)="viewDescriptionField(wish)" *ngIf="this.descriptionViewMode && !this.desTxtVM  && this.currentDescription == wish[5]">
                        <p id="description">{{wish[0]}}</p>
                     </div>
                     <div *ngIf="this.descriptionViewMode && this.desTxtVM && this.currentDescription == wish[5]">
                        <textarea (keyup.enter)="editDescription(description.value, wish)" #description value="{{wish[0]}}"></textarea>
                     </div>
                  </div>

                  <div *ngIf="!this.auth.adminLoggedIn() && !this.auth.isLoggedIn()">
                     <div (keyup.enter)="viewDescriptionField(wish)" *ngIf="this.descriptionViewMode && !this.desTxtVM  && this.currentDescription == wish[5]">
                        <p id="description">{{wish[0]}}</p>
                     </div>
                  </div>

                  <div *ngIf="wish[2] != 'no link'" id="link">
                     <div *ngIf="this.linkViewMode == false">
                        <a href="{{wish[2]}}" target="blank">Link</a>
                     </div>
                     <div *ngIf="this.linkViewMode == true && this.currentLink == wish[2]" (keyup.enter)="editLink(linkField.value, wish)">
                        <input autocomplete="off" name="linkField" value="{{wish[2]}}" #linkField>
                     </div>
                  </div>

                  <div *ngIf="wish[1] != ' undefined'" id="picLink">
                     <button type="button" (click)="view(wish[1])">Se billede</button>
                  </div>

                  <div *ngIf="!this.auth.isLoggedIn() || this.auth.adminLoggedIn()" id="reservation">
                        <button type="button" *ngIf="wish[4] == this.guest || wish[3] == false" (click)="reserved(wish)">Reserver</button>
                  </div>

                  <div id="deleteWish">
                     <button type="button" *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()" (click)="deleteWish(wish)">Slet</button> 
                  </div>

                  <!--<div id="editWish">
                     <button *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()" (click)="editLink('', wish)">Rediger</button>
                  </div>-->

               </form>
            </ul>
         </div>
         <div *ngIf="!this.auth.isLoggedIn()">
            <a [routerLink]="['/chat', guest, wishmaker]">Chatten er aktiv. Deltag i den</a> 
         </div>
      </div>
      <div *ngIf="this.auth.adminLoggedIn()">
         <input autocomplete="off" [value]="email" #mail placeholder="Hvad er din email?"><button (click)="sendMail(mail.value)">Send ønskelisten til mail</button>
      </div>
   </div>
   
   <div id="interests">
      <h2>{{wishmaker}}s interesser</h2>
      <div id="interestDiv">
         <form  *ngIf="this.auth.isLoggedIn() || this.auth.adminLoggedIn()" #form (ngSubmit)="interests(interesting.value)">
            <input autocomplete="off" [value]="interest" name="interest" #interesting placeholder="Tilføj en interesse til listen">
            <button>Tilføj</button>
         </form>
         <ul *ngFor="let interest of interestsList">
             <li>{{interest}}</li>
         </ul>
      </div>
   </div>   
</div>